<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>check-my-pull</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

        <div class="advice">
            <div class="section">
                <h2>Changes in pull request</h2>
                <div class="changes-container">
                    <img src="@routes.Assets.at("images/ajax-loader.gif")" alt="Loading, please wait..."/>
                </div>
            </div>

            <div class="section">
                <h2>Collected advice</h2>
                <div class="advice-container">
                    <img src="@routes.Assets.at("images/ajax-loader.gif")" alt="Loading, please wait..."/>
                </div>
            </div>
        </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Paste pull request url into form</h1>
        </div>
        <p class="lead">Paste pull request url into form to get advices</p>
       
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="url">URL</label>
                <div class="controls">
                    <input name="url" type="text" value="https://github.com/:owner/:repo/pull/:number" class="span6"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input name="username" type="text" value="" class="span2"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input name="password" type="password" value="" class="span2"/>
                </div>
            </div>            
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn" onClick="advice()">Get advice</button>
                </div>
            </div>
        </form>

      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">check-my-pull <a href="https://github.com/caiiiycuk/check-my-pull">https://github.com/caiiiycuk/check-my-pull</a></p>
      </div>
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
    <script src="@routes.Assets.at("javascripts/templates.js")"></script>
    <script src="@routes.Assets.at("javascripts/advice.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
  </body>
</html>