<%

function isLineVisible(line, errors) {
    for (var i = line - 5; i < line + 5; ++i) {
        if (errors[i]) {
            return true;
        }
    }

    return false;
}

%>
<div>
    <a name="<%=filename%>"><h4 class="advice-file">
        <% var errorLines = Object.keys(errors)%>
        <% var errorsCount = errorLines.length; %>
        <% var haveErrors = (errorsCount > 0); %>
        <% var adviceBlock = ''; %>
        <% if (haveErrors) { %>
            <% adviceBlock = '<span style="color: red;">'+ errorsCount + ' problem(s)...</span>'; %>
        <% } else { %>
            <% adviceBlock = '<span style="color: green;">Ok [' + fileAdvice + ']</span>'; %>
        <% } %>
        <%=filename%>
        <%=adviceBlock%>
        <% $("a[href='#" + filename + "']>div").html(adviceBlock); %>
        (<a href="<%=raw%>" target="_blank">RAW</a>)
    </h4></a>
   <div class="source">
        <% if (haveErrors) { %>
                <div class="advice-block">
                    <% for (var line = 1; line <= source.length; ++line) { %>
                        <% var zeroBasedLine = line - 1; %>
                        <% var errorsOnLine = errors[line]; %>                        
                        <% var isVisible = isLineVisible(line, errors); %>
                        <% var wrapperClass = errorsOnLine ? "advice-source-error" : "advice-source"; %>

                        <% if (isVisible) { %>
                            <div class="<%=wrapperClass%>"><%=line%>:<pre><%=source[zeroBasedLine]%></pre></div>

                            <% if (errorsOnLine) { %>
                                <div class="problems-block">
                                    <ul>
                                        <% for (var i = 0; i < errorsOnLine.length; ++i) { %>
                                            <% var error = errorsOnLine[i]; %>
                                            <li>[<%=error["severity"]%>]: <%=error["message"]%></li>
                                        <% } %>
                                    </ul>
                                </div>
                            <% } %>
                        <% } %>

                    <% } %>
                </div>
        <% } %>
    </div>
</div>