html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
}

.advice {
  display: none;
}

.error {
  margin: 0px;
  padding: 5px;
  background: rgb(233, 200, 200);
  display: none;
}

.section {
  margin: 20px;
}

.section h2 {
  background: #EEE;
  padding: 5px;
  border-top: 1px dashed black;
}

.container .credit {
  margin: 20px 0;
}

.changes-container {
  margin: 20px;
}

.changes-container li {
  list-style-type: square;
}

.advice-container {
  margin: 20px;
}

.advice-block {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background: rgb(236, 236, 236);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.advice-block pre {
  display: inline-block;
  border: none;
  background: transparent;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

.problems-block {
    background: none repeat scroll 0% 0% rgb(222, 221, 255);
    padding: 10px 0px 0px 25px;
    margin: 0px 0px 0px 20px;
    border-left: 1px solid rgb(51,51,51);
    border-top: 1px dashed rgb(51,51,51);
    border-bottom: 1px dashed rgb(51,51,51);
    border: 1px solid rgb(51, 51, 51);
}

.advice-source {
  margin: 0px 0px 0px 20px;
  background: rgb(231,255,231);
  padding: 10px 0px 5px 5px;
  border-left:1px solid #333;
}

.advice-source-error {
  margin: 0px 0px 0px 20px;
  background: rgb(255,221,221);
  padding: 10px 0px 5px 5px;
  border-left:1px solid #333; 
}

.problems-block ul {
  padding: 5px;
}

.advice-file {
  border-bottom: 1px dashed green;
  padding: 5px;
}

.auth-block {
  display: none;
}